@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@500;600;700&display=swap');
body {
    margin: 0px;
    background-color: #C1ABA6;
}

input {
    outline: none;
    border: none;
    background-color: #F564A9;
    width: 100%;
    font-family: 'Readex Pro', sans-serif;
    color: #FAE3C6;
}

.nav-bar {
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    color: #F564A9;
    height: 60px;
    background-color: #533B4D;
    font-family: 'Readex Pro', sans-serif;
}

.search {
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
    height: 40px;
    width: 50%;
    background-color: #F564A9;
    display: flex;
    align-items: center;
    
}

.search:hover{
    background-color: white;
    color: red;
}

.search:hover input{
    background-color: white;
    color: red;
}

.search:hover ::placeholder{
    color: green;
}

.login-signup {
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    height: 40px;
    background-color: #F564A9;
    display: flex;
    align-items: center;
    color: #FAE3C6;
    transition-duration: 0.4s;
    cursor: pointer;
}

.login-signup:hover{
    background-color: white;
    color: red;
}

::placeholder{
    color: white;
}


* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  position: relative;
  margin: auto;
  font-family: 'Readex Pro', sans-serif;
}

/* Hide the images by default */


/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

*{
    font-family: 'Readex Pro', sans-serif;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: rgb(227, 236, 231);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #3bd86f;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

img{
    height: 500px;
    object-fit: cover;

}

.parent-class{
  margin-bottom: 80px;
    padding-left: 20px;
    font-family: 'Readex Pro', sans-serif;
}

.cards{
    margin:20px;
    margin-left: 0px;
    height: 200px;
    width: 100%;
    font-family: 'Readex Pro', sans-serif;
    display: flex;
    align-items: center;
}

.each-card{
    margin: 10px;
    margin-left: 0px;
    font-family: 'Readex Pro', sans-serif;
    color: white;
    height: 100%;
    width: 180px;
    background-color: transparent;
    
}

.each-card img{
    height: 100%;
    width: 100%;
    border-radius: 8px;
}


.footer{
  height: 150px;
  padding: 20px;
  text-align: center;
  width: 100%;
  background-color: whitesmoke;
}